.21_78 { 
	overflow:hidden;
}.e21_78 { 
	background-color:rgba(136.00000709295273, 133.00000727176666, 154.00000602006912, 1);
	width:1440px;
	height:2780px;
	position:absolute;
}.e21_95 { 
	background-color:rgba(170.0000050663948, 110.00000104308128, 122.00000032782555, 1);
	width:1440px;
	height:82px;
	position:absolute;
	left:0px;
	top:0px;
}.e21_97 { 
	color:rgba(255, 255, 255, 1);
	width:215px;
	height:54px;
	position:absolute;
	left:254px;
	top:14px;
	font-family:Inria Sans;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e21_98 { 
	color:rgba(255, 255, 255, 1);
	width:215px;
	height:54px;
	position:absolute;
	left:732px;
	top:14px;
	font-family:Inria Sans;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e21_99 { 
	box-shadow:0px 10px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:215px;
	height:54px;
	position:absolute;
	left:493px;
	top:14px;
	font-family:Inria Sans;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e21_100 { 
	color:rgba(255, 255, 255, 1);
	width:215px;
	height:54px;
	position:absolute;
	left:971px;
	top:14px;
	font-family:Inria Sans;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e21_101 { 
	color:rgba(255, 255, 255, 1);
	width:631px;
	height:84px;
	position:absolute;
	left:404px;
	top:96px;
	font-family:Inria Sans;
	text-align:center;
	font-size:70px;
	letter-spacing:0;
}.e21_179 { 
	width:1256px;
	height:1426px;
	position:absolute;
	left:104px;
	top:234px;
}.e21_178 { 
	width:1256px;
	height:1426px;
	position:absolute;
	left:0px;
	top:0px;
}.e21_177 { 
	background-color:rgba(90.00000223517418, 84.00000259280205, 109.00000110268593, 1);
	width:1256px;
	height:1426px;
	position:absolute;
	left:0px;
	top:0px;
}.e21_176 { 
	color:rgba(255, 255, 255, 1);
	width:605.9143676757812px;
	height:84px;
	position:absolute;
	left:324.56268310546875px;
	top:0px;
	font-family:Inria Sans;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}.e21_123 { 
	transform: rotate(90.15059626675007deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1096.004150390625px;
	height:0px;
	position:absolute;
	left:628px;
	top:270px;
}.21_123 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e21_153 { 
	width:126.7522964477539px;
	height:50px;
	position:absolute;
	left:564.6238403320312px;
	top:693px;
}.e21_150 { 
	background-color:rgba(90.00000223517418, 84.00000259280205, 109.00000110268593, 1);
	width:96.02446746826172px;
	height:50px;
	position:absolute;
	left:18.244722366333008px;
	top:0px;
}.e21_151 { 
	color:rgba(255, 255, 255, 1);
	width:126.7522964477539px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inria Sans;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e21_154 { 
	width:126.7522964477539px;
	height:50px;
	position:absolute;
	left:564.6238403320312px;
	top:1341px;
}.e21_152 { 
	background-color:rgba(90.00000223517418, 84.00000259280205, 109.00000110268593, 1);
	width:96.02446746826172px;
	height:50px;
	position:absolute;
	left:15.363987922668457px;
	top:0px;
}.e21_149 { 
	color:rgba(255, 255, 255, 1);
	width:126.7522964477539px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inria Sans;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e21_155 { 
	width:66.25688171386719px;
	height:30px;
	position:absolute;
	left:612.6361083984375px;
	top:1110px;
}.e21_142 { 
	background-color:rgba(255, 255, 255, 1);
	width:28.80733871459961px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
}.e21_143 { 
	background-color:rgba(90.00000223517418, 84.00000259280205, 109.00000110268593, 1);
	width:19.204893112182617px;
	height:20px;
	position:absolute;
	left:4.8012003898620605px;
	top:5px;
}.e21_144 { 
	transform: rotate(180deg);
	width:37.44954299926758px;
	height:0px;
	position:absolute;
	left:66.2568588256836px;
	top:15px;
}.21_144 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e21_156 { 
	width:66.25688171386719px;
	height:30px;
	position:absolute;
	left:576.1467895507812px;
	top:903px;
}.e21_145 { 
	background-color:rgba(255, 255, 255, 1);
	width:28.80733871459961px;
	height:30px;
	position:absolute;
	left:37.44960021972656px;
	top:0px;
}.e21_146 { 
	background-color:rgba(90.00000223517418, 84.00000259280205, 109.00000110268593, 1);
	width:19.204893112182617px;
	height:20px;
	position:absolute;
	left:42.250823974609375px;
	top:5px;
}.e21_147 { 
	transform: rotate(180deg);
	width:37.44954299926758px;
	height:0px;
	position:absolute;
	left:37.44960021972656px;
	top:15px;
}.21_147 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e21_157 { 
	width:66.25688171386719px;
	height:30px;
	position:absolute;
	left:613.5963134765625px;
	top:488px;
}.e21_138 { 
	background-color:rgba(255, 255, 255, 1);
	width:28.80733871459961px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
}.e21_139 { 
	background-color:rgba(90.00000223517418, 84.00000259280205, 109.00000110268593, 1);
	width:19.204893112182617px;
	height:20px;
	position:absolute;
	left:4.801239967346191px;
	top:5px;
}.e21_140 { 
	transform: rotate(180deg);
	width:37.44954299926758px;
	height:0px;
	position:absolute;
	left:66.25689697265625px;
	top:15px;
}.21_140 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e21_158 { 
	width:66.25688171386719px;
	height:30px;
	position:absolute;
	left:576.1467895507812px;
	top:255px;
}.e21_126 { 
	background-color:rgba(255, 255, 255, 1);
	width:28.80733871459961px;
	height:30px;
	position:absolute;
	left:37.44960021972656px;
	top:0px;
}.e21_128 { 
	background-color:rgba(90.00000223517418, 84.00000259280205, 109.00000110268593, 1);
	width:19.204893112182617px;
	height:20px;
	position:absolute;
	left:42.250823974609375px;
	top:5px;
}.e21_131 { 
	transform: rotate(180deg);
	width:37.44954299926758px;
	height:0px;
	position:absolute;
	left:37.44960021972656px;
	top:15px;
}.21_131 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e21_171 { 
	width:528.1345825195312px;
	height:350px;
	position:absolute;
	left:47.05198669433594px;
	top:95px;
}.e21_129 { 
	box-shadow:5px 5px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(105.00000134110451, 117.00000062584877, 138.00000697374344, 1);
	width:528.1345825195312px;
	height:350px;
	position:absolute;
	left:0px;
	top:0px;
}.e21_159 { 
	color:rgba(255, 255, 255, 1);
	width:528.1345825195312px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inria Sans;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e21_167 { 
	color:rgba(255, 255, 255, 1);
	width:528.1345825195312px;
	height:60px;
	position:absolute;
	left:0px;
	top:48px;
	font-family:Inria Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e21_160 { 
	color:rgba(255, 255, 255, 1);
	width:480.122314453125px;
	height:201px;
	position:absolute;
	left:24.006101608276367px;
	top:118px;
	font-family:Inria Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e21_172 { 
	width:528.1345825195312px;
	height:350px;
	position:absolute;
	left:679.8532104492188px;
	top:328px;
}.e21_133 { 
	box-shadow:5px 5px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(105.00000134110451, 117.00000062584877, 138.00000697374344, 1);
	width:528.1345825195312px;
	height:350px;
	position:absolute;
	left:0px;
	top:0px;
}.e21_168 { 
	color:rgba(255, 255, 255, 1);
	width:528.1345825195312px;
	height:60px;
	position:absolute;
	left:0px;
	top:52px;
	font-family:Inria Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e21_161 { 
	color:rgba(255, 255, 255, 1);
	width:528.1345825195312px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inria Sans;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e21_162 { 
	color:rgba(255, 255, 255, 1);
	width:480.122314453125px;
	height:201px;
	position:absolute;
	left:24.00605583190918px;
	top:125px;
	font-family:Inria Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e21_173 { 
	width:528.1345825195312px;
	height:350px;
	position:absolute;
	left:47.05198669433594px;
	top:743px;
}.e21_137 { 
	box-shadow:5px 5px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(105.00000134110451, 117.00000062584877, 138.00000697374344, 1);
	width:528.1345825195312px;
	height:350px;
	position:absolute;
	left:0px;
	top:0px;
}.e21_169 { 
	color:rgba(255, 255, 255, 1);
	width:528.1345825195312px;
	height:60px;
	position:absolute;
	left:0px;
	top:52px;
	font-family:Inria Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e21_163 { 
	color:rgba(255, 255, 255, 1);
	width:528.1345825195312px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inria Sans;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e21_164 { 
	color:rgba(255, 255, 255, 1);
	width:480.122314453125px;
	height:201px;
	position:absolute;
	left:24.006101608276367px;
	top:125px;
	font-family:Inria Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e21_174 { 
	width:528.1345825195312px;
	height:350px;
	position:absolute;
	left:679.8532104492188px;
	top:950px;
}.e21_135 { 
	box-shadow:5px 5px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(105.00000134110451, 117.00000062584877, 138.00000697374344, 1);
	width:528.1345825195312px;
	height:350px;
	position:absolute;
	left:0px;
	top:0px;
}.e21_170 { 
	color:rgba(255, 255, 255, 1);
	width:528.1345825195312px;
	height:60px;
	position:absolute;
	left:0px;
	top:51px;
	font-family:Inria Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e21_165 { 
	color:rgba(255, 255, 255, 1);
	width:528.1345825195312px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inria Sans;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e21_166 { 
	color:rgba(255, 255, 255, 1);
	width:480.122314453125px;
	height:201px;
	position:absolute;
	left:24.00605583190918px;
	top:123px;
	font-family:Inria Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e21_180 { 
	background-color:rgba(90.00000223517418, 84.00000259280205, 109.00000110268593, 1);
	width:1256px;
	height:229px;
	position:absolute;
	left:104px;
	top:1714px;
}.e21_181 { 
	color:rgba(255, 255, 255, 1);
	width:631px;
	height:84px;
	position:absolute;
	left:417px;
	top:1714px;
	font-family:Inria Sans;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}.e21_182 { 
	box-shadow:5px 5px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(105.00000134110451, 117.00000062584877, 138.00000697374344, 1);
	width:1206px;
	height:120px;
	position:absolute;
	left:129px;
	top:1799px;
}.e21_188 { 
	background-color:rgba(90.00000223517418, 84.00000259280205, 109.00000110268593, 1);
	width:1257px;
	height:640px;
	position:absolute;
	left:104px;
	top:1997px;
}.e21_189 { 
	color:rgba(255, 255, 255, 1);
	width:606px;
	height:84px;
	position:absolute;
	left:428px;
	top:1997px;
	font-family:Inria Sans;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}.e21_190 { 
	box-shadow:5px 5px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(105.00000134110451, 117.00000062584877, 138.00000697374344, 1);
	width:1209px;
	height:531px;
	position:absolute;
	left:128px;
	top:2081px;
}.e21_183 { 
	color:rgba(255, 255, 255, 1);
	width:709px;
	height:50px;
	position:absolute;
	left:149px;
	top:1809px;
	font-family:Inria Sans;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e21_187 { 
	color:rgba(255, 255, 255, 1);
	width:440px;
	height:50px;
	position:absolute;
	left:883px;
	top:1809px;
	font-family:Inria Sans;
	text-align:right;
	font-size:36px;
	letter-spacing:0;
}.e21_185 { 
	color:rgba(255, 255, 255, 1);
	width:695px;
	height:50px;
	position:absolute;
	left:180px;
	top:1859px;
	font-family:Inria Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e21_186 { 
	color:rgba(255, 255, 255, 1);
	width:440px;
	height:50px;
	position:absolute;
	left:848px;
	top:1852px;
	font-family:Inria Sans;
	text-align:right;
	font-size:32px;
	letter-spacing:0;
}.e21_192 { 
	color:rgba(255, 255, 255, 1);
	width:1161px;
	height:497px;
	position:absolute;
	left:151px;
	top:2098px;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e25_251 { 
	background-color:rgba(170.0000050663948, 110.00000104308128, 122.00000032782555, 1);
	width:1440px;
	height:41px;
	position:absolute;
	left:0px;
	top:2700px;
}.e25_252 { 
	background-color:rgba(147.68749594688416, 92.3046849668026, 103.38126540184021, 1);
	width:1439px;
	height:39px;
	position:absolute;
	left:0px;
	top:2741px;
}.e25_256 { 
	color:rgba(255, 255, 255, 1);
	width:509px;
	height:39px;
	position:absolute;
	left:464px;
	top:2741px;
	font-family:Inria Sans;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}.e57_26 { 
	color:rgba(255, 255, 255, 1);
	width:118px;
	height:31px;
	position:absolute;
	left:410px;
	top:2707px;
	font-family:Inria Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e57_27 { 
	color:rgba(255, 255, 255, 1);
	width:91px;
	height:39px;
	position:absolute;
	left:915px;
	top:2703px;
	font-family:Inria Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e57_28 { 
	color:rgba(255, 255, 255, 1);
	width:129px;
	height:38px;
	position:absolute;
	left:657px;
	top:2704px;
	font-family:Inria Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}