:root { 
  --black: #000000;
  --white: #ffffff;
 
  --font-size-l: 32px;
  --font-size-m: 20px;
  --font-size-s: 18px;
  --font-size-xl: 40px;
  --font-size-xxl: 48px;
  --font-size-xxxl: 70px;
 
  --font-family-inria_sans: "Inria Sans", Helvetica;
}
.inriasans-bold-white-40px {
  color: var(--white);
  font-family: var(--font-family-inria_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.inriasans-normal-white-32px {
  color: var(--white);
  font-family: var(--font-family-inria_sans);
  font-size: var(--font-size-l);
  font-style: italic;
  font-weight: 400;
}
