.6_4 { 
	overflow:hidden;
}.e6_4 { 
	background-color:rgba(136.00000709295273, 133.00000727176666, 154.00000602006912, 1);
	width:1440px;
	height:1595px;
	position:absolute;
}.e6_13 { 
	background-color:rgba(170.0000050663948, 110.00000104308128, 122.00000032782555, 1);
	width:1440px;
	height:82px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_15 { 
	background-color:rgba(170.0000050663948, 110.00000104308128, 122.00000032782555, 1);
	width:1440px;
	height:41px;
	position:absolute;
	left:1px;
	top:1515px;
}.e21_199 { 
	background-color:rgba(147.68749594688416, 92.3046849668026, 103.38126540184021, 1);
	width:1439px;
	height:39px;
	position:absolute;
	left:1px;
	top:1556px;
}.e6_14 { 
	background-color:rgba(90.00000223517418, 84.00000259280205, 109.00000110268593, 1);
	width:1256px;
	height:757px;
	position:absolute;
	left:80px;
	top:692px;
}.e4_4 { 
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:770px;
	height:496px;
	position:absolute;
	left:578px;
	top:139px;
	background-image:url(images/webimage_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e4_15 { 
	color:rgba(255, 255, 255, 1);
	width:215px;
	height:54px;
	position:absolute;
	left:601px;
	top:732px;
	font-family:Inria Sans;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}.e4_17 { 
	color:rgba(255, 255, 255, 1);
	width:484px;
	height:401px;
	position:absolute;
	left:793px;
	top:883px;
	font-family:Inria Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e4_18 { 
	transform: rotate(90deg);
	width:500px;
	height:0px;
	position:absolute;
	left:708px;
	top:846px;
}.4_18 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e4_16 { 
	width:400px;
	height:401px;
	position:absolute;
	left:223px;
	top:883px;
	background-image:url(images/image_1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e4_19 { 
	box-shadow:0px 10px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:215px;
	height:54px;
	position:absolute;
	left:254px;
	top:14px;
	font-family:Inria Sans;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e4_21 { 
	color:rgba(255, 255, 255, 1);
	width:215px;
	height:54px;
	position:absolute;
	left:732px;
	top:14px;
	font-family:Inria Sans;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e4_20 { 
	color:rgba(255, 255, 255, 1);
	width:215px;
	height:54px;
	position:absolute;
	left:493px;
	top:14px;
	font-family:Inria Sans;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e4_22 { 
	color:rgba(255, 255, 255, 1);
	width:215px;
	height:54px;
	position:absolute;
	left:971px;
	top:14px;
	font-family:Inria Sans;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e6_12 { 
	width:751px;
	height:290px;
	position:absolute;
	left:92px;
	top:242px;
}.e3_3 { 
	box-shadow:5px 5px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(105.00000134110451, 117.00000062584877, 138.00000697374344, 0.8999999761581421);
	width:751px;
	height:290px;
	position:absolute;
	left:0px;
	top:0px;
}.e4_5 { 
	color:rgba(255, 255, 255, 1);
	width:631px;
	height:84px;
	position:absolute;
	left:60px;
	top:27px;
	font-family:Inria Sans;
	text-align:center;
	font-size:70px;
	letter-spacing:0;
}.e4_7 { 
	color:rgba(255, 255, 255, 1);
	width:714px;
	height:115px;
	position:absolute;
	left:18px;
	top:132px;
	font-family:Inria Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e16_9 { 
	color:rgba(255, 255, 255, 1);
	width:246px;
	height:52px;
	position:absolute;
	left:346px;
	top:463px;
	font-family:Inria Sans;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.17_10 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e17_10 { 
	width:263px;
	height:53px;
	position:absolute;
	left:338px;
	top:462px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e21_200 { 
	color:rgba(255, 255, 255, 1);
	width:509px;
	height:39px;
	position:absolute;
	left:465px;
	top:1556px;
	font-family:Inria Sans;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}.e57_29 { 
	color:rgba(255, 255, 255, 1);
	width:118px;
	height:31px;
	position:absolute;
	left:411px;
	top:1520px;
	font-family:Inria Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e57_30 { 
	color:rgba(255, 255, 255, 1);
	width:91px;
	height:39px;
	position:absolute;
	left:916px;
	top:1516px;
	font-family:Inria Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e57_31 { 
	color:rgba(255, 255, 255, 1);
	width:129px;
	height:38px;
	position:absolute;
	left:658px;
	top:1517px;
	font-family:Inria Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}